@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

body main  {
	font-family: "Quicksand", sans-serif;
   overflow-x: hidden;
}

.carousel-item {
   margin-top: -100px;
}

footer {
   padding: 15px 0;
   color: white;
}

.bimbingan:hover {
   transition: all 0.2s ease-out;
   box-shadow: 0px 4px 8px #267375;
   top: -8px;
   border: 1px solid #53B8BB;
   background-color: white;
}

.marketing {
   object-position: center;
}

@media screen and (max-width: 576px) {
   .imgAbout {
     width: 75%;
   }
}