@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
	font-family: 'Verela Round', sans-serif;
}

.featured-image {
   width: 100%;
   max-height: 99vh;
   object-fit: cover;
   object-position: center;
}
